/* FONTS
font-family: 'Yanone Kaffeesatz', sans-serif;
font-family: 'Abel', sans-serif;
font-family: 'Poiret One', cursive;
font-family: 'Orbitron', sans-serif;
*/

/* -------------------------------------- */

#logo {
    font-family: 'Orbitron', sans-serif;
    font-size: 2em;
    color: #fff ;
}

.navbar-default {
    border: none;
    padding: 8px 0;
    background-color: #333333;
    margin-bottom: 0px;
    border-radius: 0px;
}

.nav {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.6em;
    color: #fff ;
}

.navbar-default .navbar-nav>li>a:hover  {
    color: #0f8ff8;
}

.navbar-default .navbar-nav>li>a:active  {
    color: #ffffff;
}

/* -------------------------------------- */

#users-list-region {
    margin-top: 90px;
}

/* -------------------------------------- */

.panel {
    background-color: #7070701f;
    margin: 15px 5px;
    border: 1px solid #00000021;
}

.panel-heading {
    background-color: rgba(167, 167, 167, 0.4);
}

.panel-content {
    padding: 6px;
    text-align: center;
    font-size: 1.5em;
}

.panel-content>.row {
	margin-left: 0px;
    margin-right: 0px;
}

.panel-content>.row>div {
	padding-left: 0px;
    padding-right: 0px
}

.status-info, .user-edit {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 0.85em;
}

.status-info.shadow-right {
    box-shadow: 4px 0px 2px -3px rgba(0, 183, 228, 0.4);
}

.user-name {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 0.9em;
}

.user-edit.shadow-left {
    box-shadow: -4px 0px 2px -3px rgba(0, 183, 228, 0.4);
}

.user-delete-panel, .user-edit-panel {
    padding-left: 0px;
    padding-right: 0px;
}

.user-edit .btn {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 0.75em;
    color: rgb(51, 51, 51);
    padding-top: 2px;
    padding-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 3px;
}

.user-edit .btn-warning {
    background-color: rgba(255, 150, 0, 0.5);
    border-color: rgba(255, 150, 0, 0.5);
}

.user-edit .btn-danger {
    background-color: rgba(255, 0, 0, 0.5);
    border-color: rgba(255, 0, 0, 0.5);
}

.panel-main {
    padding: 0px;
    border-top: 2px;
    border-top-color: rgb(201, 206, 208);
    border-top-style: solid;
}

.panel-main .row-shadow {
    margin: 0px;
    padding: 12px 8px;
    box-shadow: 0px 5px 5px -3px rgba(0, 183, 228, 0.5)
}

.user-pic {
    padding: 0px;
    text-align: center;
}

.image {
    border-radius: 70px;
    height: 118px;
    width: 118px;
}

.user-content {
    padding: 0px;
}

.user-content>.row {
    margin: 0px;
}

.user-content>.row>div {
    padding: 0px;
}

.user-content-title {
    padding: 0px;
    margin: 0px;
}

.user-content-title div:nth-of-type(1) {
    width: auto;
    text-align: left;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    font-size: 1.25em;
}

.user-content-info {
    padding-left: 8px;
    padding-right: 0px;
    padding-top: 6px;
}

.user-content-info span:nth-of-type(1) {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.18em;
    padding-right: 8px;
}

.user-content-info span:nth-of-type(2) {
    font-family: 'Abel', sans-serif;
    font-size: 1.03em;
}

.panel-footer {
    background-color: #ffffff38;
    text-align: center;
    font-size: 1em;
    padding: 8px 0px;
}

/* -------------------------------------- */

#contact {
    text-align: center;
    padding-top: 16px;
}

/* -------------------------------------- */
